<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
   <form id="loginForm" method="POST" action="/login">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Iniciar Sesión</button>
</form>
    <p>¿No tienes una cuenta? <a href="registro.html">Regístrate aquí</a></p>
</body>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function(event) {
        event.preventDefault();  
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password })
            });

            const data = await response.json();
            
            if (data.user) {
                localStorage.setItem('username', data.user.username);

                if (data.user.select === 'empresa') {
                    window.location.href = 'indexempresa.html'; 
                } else if (data.user.select === 'estudiante') {
                    window.location.href = 'index.html'; 
                } else {
                    alert('Tipo de usuario no reconocido');
                }
            } else {
                alert('Login failed');
            }

        } catch (error) {
            console.error('Login error:', error);
            alert('An error occurred during login');
        }
    });
</script>

</html>
